run = "npm run dev"

[nix]
channel = "stable-24_05"

[env]
PATH = "/nix/var/nix/profiles/default/bin"
REPLIT_NIX_CHANNEL = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80